.menu {
	background: #D5B0AC;
	font-weight: bold;
	color: #402E2A;
    text-align: center;
}

.menu > span {
	line-height: 30px;
    display: inline-block;
    width: 100px;
    cursor: pointer;
}

.menu > span:hover {
	background: #9CD08F;
	color: #FFFFFF;
}

.menu_vertical {
	background: inherit;
}

.menu_vertical > span {
	background: #D5B0AC;
	display: block;
	margin-bottom: 1px;
}